'.source.racket':
	'* function':
		'prefix': '*'
		'body': "(*)"
	'+ function':
		'prefix': '+'
		'body': "(+)"
	'- function':
		'prefix': '-'
		'body': "(-)"
	'/ function':
		'prefix': '/'
		'body': "(/)"
	'< function':
		'prefix': '<'
		'body': "(<)"
	'<= function':
		'prefix': '<='
		'body': "(<=)"
	'= function':
		'prefix': '='
		'body': "(=)"
	'> function':
		'prefix': '>'
		'body': "(>)"
	'>= function':
		'prefix': '>='
		'body': "(>=)"
	'abs function':
		'prefix': 'abs'
		'body': "(abs)"
	'acos function':
		'prefix': 'acos'
		'body': "(acos)"
	'angle function':
		'prefix': 'angle'
		'body': "(angle)"
	'asin function':
		'prefix': 'asin'
		'body': "(asin)"
	'atan function':
		'prefix': 'atan'
		'body': "(atan)"
	'ceiling function':
		'prefix': 'ceiling'
		'body': "(ceiling)"
	'complex? function':
		'prefix': 'complex?'
		'body': "(complex?)"
	'cos function':
		'prefix': 'cos'
		'body': "(cos)"
	'current-seconds function':
		'prefix': 'current-seconds'
		'body': "(current-seconds)"
	'denominator function':
		'prefix': 'denominator'
		'body': "(denominator)"
	'even? function':
		'prefix': 'even?'
		'body': "(even?)"
	'exact->inexact function':
		'prefix': 'exact->inexact'
		'body': "(exact->inexact)"
	'exact? function':
		'prefix': 'exact?'
		'body': "(exact?)"
	'exp function':
		'prefix': 'exp'
		'body': "(exp)"
	'expt function':
		'prefix': 'expt'
		'body': "(expt)"
	'floor function':
		'prefix': 'floor'
		'body': "(floor)"
	'gcd function':
		'prefix': 'gcd'
		'body': "(gcd)"
	'imag-part function':
		'prefix': 'imag-part'
		'body': "(imag-part)"
	'inexact->exact function':
		'prefix': 'inexact->exact'
		'body': "(inexact->exact)"
	'inexact? function':
		'prefix': 'inexact?'
		'body': "(inexact?)"
	'integer? function':
		'prefix': 'integer?'
		'body': "(integer?)"
	'lcm function':
		'prefix': 'lcm'
		'body': "(lcm)"
	'log function':
		'prefix': 'log'
		'body': "(log)"
	'magnitude function':
		'prefix': 'magnitude'
		'body': "(magnitude)"
	'make-polar function':
		'prefix': 'make-polar'
		'body': "(make-polar)"
	'max function':
		'prefix': 'max'
		'body': "(max)"
	'min function':
		'prefix': 'min'
		'body': "(min)"
	'modulo function':
		'prefix': 'modulo'
		'body': "(modulo)"
	'natural? function':
		'prefix': 'natural?'
		'body': "(natural?)"
	'negative? function':
		'prefix': 'negative?'
		'body': "(negative?)"
	'number->string function':
		'prefix': 'number->string'
		'body': "(number->string)"
	'number? function':
		'prefix': 'number?'
		'body': "(number?)"
	'numerator function':
		'prefix': 'numerator'
		'body': "(numerator)"
	'odd? function':
		'prefix': 'odd?'
		'body': "(odd?)"
	'positive? function':
		'prefix': 'positive?'
		'body': "(positive?)"
	'quotient function':
		'prefix': 'quotient'
		'body': "(quotient)"
	'random function':
		'prefix': 'random'
		'body': "(random)"
	'rational? function':
		'prefix': 'rational?'
		'body': "(rational?)"
	'real-part function':
		'prefix': 'real-part'
		'body': "(real-part)"
	'real? function':
		'prefix': 'real?'
		'body': "(real?)"
	'remainder function':
		'prefix': 'remainder'
		'body': "(remainder)"
	'round function':
		'prefix': 'round'
		'body': "(round)"
	'sin function':
		'prefix': 'sin'
		'body': "(sin)"
	'sqrt function':
		'prefix': 'sqrt'
		'body': "(sqrt)"
	'string->number function':
		'prefix': 'string->number'
		'body': "(string->number)"
	'tan function':
		'prefix': 'tan'
		'body': "(tan)"
	'zero? function':
		'prefix': 'zero?'
		'body': "(zero?)"
	'boolean=? function':
		'prefix': 'boolean=?'
		'body': "(boolean=?)"
	'boolean? function':
		'prefix': 'boolean?'
		'body': "(boolean?)"
	'false? function':
		'prefix': 'false?'
		'body': "(false?)"
	'not function':
		'prefix': 'not'
		'body': "(not)"
	'true? function':
		'prefix': 'true?'
		'body': "(true?)"
	'cons function':
		'prefix': 'cons'
		'body': "(cons)"
	'empty? function':
		'prefix': 'empty?'
		'body': "(empty?)"
	'computer-hard-drive function':
		'prefix': 'computer-hard-drive'
		'body': "(computer-hard-drive)"
	'computer-processor function':
		'prefix': 'computer-processor'
		'body': "(computer-processor)"
	'computer-ram function':
		'prefix': 'computer-ram'
		'body': "(computer-ram)"
	'computer? function':
		'prefix': 'computer?'
		'body': "(computer?)"
	'make-computer function':
		'prefix': 'make-computer'
		'body': "(make-computer)"
	'chocolate-cookie-chocolate function':
		'prefix': 'chocolate-cookie-chocolate'
		'body': "(chocolate-cookie-chocolate)"
	'chocolate-cookie-cookie function':
		'prefix': 'chocolate-cookie-cookie'
		'body': "(chocolate-cookie-cookie)"
	'chocolate-cookie? function':
		'prefix': 'chocolate-cookie?'
		'body': "(chocolate-cookie?)"
	'make-chocolate-cookie function':
		'prefix': 'make-chocolate-cookie'
		'body': "(make-chocolate-cookie)"
	'string->strings-list function':
		'prefix': 'string->strings-list'
		'body': "(string->strings-list)"
	'string-append function':
		'prefix': 'string-append'
		'body': "(string-append)"
	'string-length function':
		'prefix': 'string-length'
		'body': "(string-length)"
	'string<=? function':
		'prefix': 'string<=?'
		'body': "(string<=?)"
	'string<? function':
		'prefix': 'string<?'
		'body': "(string<?)"
	'string=? function':
		'prefix': 'string=?'
		'body': "(string=?)"
	'string>=? function':
		'prefix': 'string>=?'
		'body': "(string>=?)"
	'string>? function':
		'prefix': 'string>?'
		'body': "(string>?)"
	'string? function':
		'prefix': 'string?'
		'body': "(string?)"
	'strings-list->string function':
		'prefix': 'strings-list->string'
		'body': "(strings-list->string)"
	'read function':
		'prefix': 'read'
		'body': "(read)"
	'violation function':
		'prefix': 'violation'
		'body': "(violation)"
	'write-newline function':
		'prefix': 'write-newline'
		'body': "(write-newline)"
	'write-string function':
		'prefix': 'write-string'
		'body': "(write-string)"
	'* function':
		'prefix': '*'
		'body': "(*)"
	'+ function':
		'prefix': '+'
		'body': "(+)"
	'- function':
		'prefix': '-'
		'body': "(-)"
	'/ function':
		'prefix': '/'
		'body': "(/)"
	'< function':
		'prefix': '<'
		'body': "(<)"
	'<= function':
		'prefix': '<='
		'body': "(<=)"
	'= function':
		'prefix': '='
		'body': "(=)"
	'> function':
		'prefix': '>'
		'body': "(>)"
	'>= function':
		'prefix': '>='
		'body': "(>=)"
	'abs function':
		'prefix': 'abs'
		'body': "(abs)"
	'acos function':
		'prefix': 'acos'
		'body': "(acos)"
	'angle function':
		'prefix': 'angle'
		'body': "(angle)"
	'asin function':
		'prefix': 'asin'
		'body': "(asin)"
	'atan function':
		'prefix': 'atan'
		'body': "(atan)"
	'ceiling function':
		'prefix': 'ceiling'
		'body': "(ceiling)"
	'complex? function':
		'prefix': 'complex?'
		'body': "(complex?)"
	'cos function':
		'prefix': 'cos'
		'body': "(cos)"
	'current-seconds function':
		'prefix': 'current-seconds'
		'body': "(current-seconds)"
	'denominator function':
		'prefix': 'denominator'
		'body': "(denominator)"
	'even? function':
		'prefix': 'even?'
		'body': "(even?)"
	'exact->inexact function':
		'prefix': 'exact->inexact'
		'body': "(exact->inexact)"
	'exact? function':
		'prefix': 'exact?'
		'body': "(exact?)"
	'exp function':
		'prefix': 'exp'
		'body': "(exp)"
	'expt function':
		'prefix': 'expt'
		'body': "(expt)"
	'floor function':
		'prefix': 'floor'
		'body': "(floor)"
	'gcd function':
		'prefix': 'gcd'
		'body': "(gcd)"
	'imag-part function':
		'prefix': 'imag-part'
		'body': "(imag-part)"
	'inexact->exact function':
		'prefix': 'inexact->exact'
		'body': "(inexact->exact)"
	'inexact? function':
		'prefix': 'inexact?'
		'body': "(inexact?)"
	'integer? function':
		'prefix': 'integer?'
		'body': "(integer?)"
	'lcm function':
		'prefix': 'lcm'
		'body': "(lcm)"
	'log function':
		'prefix': 'log'
		'body': "(log)"
	'magnitude function':
		'prefix': 'magnitude'
		'body': "(magnitude)"
	'make-polar function':
		'prefix': 'make-polar'
		'body': "(make-polar)"
	'max function':
		'prefix': 'max'
		'body': "(max)"
	'min function':
		'prefix': 'min'
		'body': "(min)"
	'modulo function':
		'prefix': 'modulo'
		'body': "(modulo)"
	'natural? function':
		'prefix': 'natural?'
		'body': "(natural?)"
	'negative? function':
		'prefix': 'negative?'
		'body': "(negative?)"
	'number->string function':
		'prefix': 'number->string'
		'body': "(number->string)"
	'number? function':
		'prefix': 'number?'
		'body': "(number?)"
	'numerator function':
		'prefix': 'numerator'
		'body': "(numerator)"
	'odd? function':
		'prefix': 'odd?'
		'body': "(odd?)"
	'positive? function':
		'prefix': 'positive?'
		'body': "(positive?)"
	'quotient function':
		'prefix': 'quotient'
		'body': "(quotient)"
	'random function':
		'prefix': 'random'
		'body': "(random)"
	'rational? function':
		'prefix': 'rational?'
		'body': "(rational?)"
	'real-part function':
		'prefix': 'real-part'
		'body': "(real-part)"
	'real? function':
		'prefix': 'real?'
		'body': "(real?)"
	'remainder function':
		'prefix': 'remainder'
		'body': "(remainder)"
	'round function':
		'prefix': 'round'
		'body': "(round)"
	'sin function':
		'prefix': 'sin'
		'body': "(sin)"
	'sqrt function':
		'prefix': 'sqrt'
		'body': "(sqrt)"
	'string->number function':
		'prefix': 'string->number'
		'body': "(string->number)"
	'tan function':
		'prefix': 'tan'
		'body': "(tan)"
	'zero? function':
		'prefix': 'zero?'
		'body': "(zero?)"
	'boolean=? function':
		'prefix': 'boolean=?'
		'body': "(boolean=?)"
	'boolean? function':
		'prefix': 'boolean?'
		'body': "(boolean?)"
	'false? function':
		'prefix': 'false?'
		'body': "(false?)"
	'not function':
		'prefix': 'not'
		'body': "(not)"
	'true? function':
		'prefix': 'true?'
		'body': "(true?)"
	'append function':
		'prefix': 'append'
		'body': "(append)"
	'cons function':
		'prefix': 'cons'
		'body': "(cons)"
	'cons? function':
		'prefix': 'cons?'
		'body': "(cons?)"
	'empty? function':
		'prefix': 'empty?'
		'body': "(empty?)"
	'first function':
		'prefix': 'first'
		'body': "(first)"
	'fold function':
		'prefix': 'fold'
		'body': "(fold)"
	'length function':
		'prefix': 'length'
		'body': "(length)"
	'list function':
		'prefix': 'list'
		'body': "(list)"
	'list-ref function':
		'prefix': 'list-ref'
		'body': "(list-ref)"
	'make-pair function':
		'prefix': 'make-pair'
		'body': "(make-pair)"
	'pair? function':
		'prefix': 'pair?'
		'body': "(pair?)"
	'rest function':
		'prefix': 'rest'
		'body': "(rest)"
	'reverse function':
		'prefix': 'reverse'
		'body': "(reverse)"
	'computer-hard-drive function':
		'prefix': 'computer-hard-drive'
		'body': "(computer-hard-drive)"
	'computer-processor function':
		'prefix': 'computer-processor'
		'body': "(computer-processor)"
	'computer-ram function':
		'prefix': 'computer-ram'
		'body': "(computer-ram)"
	'computer? function':
		'prefix': 'computer?'
		'body': "(computer?)"
	'make-computer function':
		'prefix': 'make-computer'
		'body': "(make-computer)"
	'chocolate-cookie-chocolate function':
		'prefix': 'chocolate-cookie-chocolate'
		'body': "(chocolate-cookie-chocolate)"
	'chocolate-cookie-cookie function':
		'prefix': 'chocolate-cookie-cookie'
		'body': "(chocolate-cookie-cookie)"
	'chocolate-cookie? function':
		'prefix': 'chocolate-cookie?'
		'body': "(chocolate-cookie?)"
	'make-chocolate-cookie function':
		'prefix': 'make-chocolate-cookie'
		'body': "(make-chocolate-cookie)"
	'string->strings-list function':
		'prefix': 'string->strings-list'
		'body': "(string->strings-list)"
	'string-append function':
		'prefix': 'string-append'
		'body': "(string-append)"
	'string-length function':
		'prefix': 'string-length'
		'body': "(string-length)"
	'string<=? function':
		'prefix': 'string<=?'
		'body': "(string<=?)"
	'string<? function':
		'prefix': 'string<?'
		'body': "(string<?)"
	'string=? function':
		'prefix': 'string=?'
		'body': "(string=?)"
	'string>=? function':
		'prefix': 'string>=?'
		'body': "(string>=?)"
	'string>? function':
		'prefix': 'string>?'
		'body': "(string>?)"
	'string? function':
		'prefix': 'string?'
		'body': "(string?)"
	'strings-list->string function':
		'prefix': 'strings-list->string'
		'body': "(strings-list->string)"
	'for-each function':
		'prefix': 'for-each'
		'body': "(for-each)"
	'map function':
		'prefix': 'map'
		'body': "(map)"
	'read function':
		'prefix': 'read'
		'body': "(read)"
	'violation function':
		'prefix': 'violation'
		'body': "(violation)"
	'write-newline function':
		'prefix': 'write-newline'
		'body': "(write-newline)"
	'write-string function':
		'prefix': 'write-string'
		'body': "(write-string)"
	'* function':
		'prefix': '*'
		'body': "(*)"
	'+ function':
		'prefix': '+'
		'body': "(+)"
	'- function':
		'prefix': '-'
		'body': "(-)"
	'/ function':
		'prefix': '/'
		'body': "(/)"
	'< function':
		'prefix': '<'
		'body': "(<)"
	'<= function':
		'prefix': '<='
		'body': "(<=)"
	'= function':
		'prefix': '='
		'body': "(=)"
	'> function':
		'prefix': '>'
		'body': "(>)"
	'>= function':
		'prefix': '>='
		'body': "(>=)"
	'abs function':
		'prefix': 'abs'
		'body': "(abs)"
	'acos function':
		'prefix': 'acos'
		'body': "(acos)"
	'angle function':
		'prefix': 'angle'
		'body': "(angle)"
	'asin function':
		'prefix': 'asin'
		'body': "(asin)"
	'atan function':
		'prefix': 'atan'
		'body': "(atan)"
	'ceiling function':
		'prefix': 'ceiling'
		'body': "(ceiling)"
	'complex? function':
		'prefix': 'complex?'
		'body': "(complex?)"
	'cos function':
		'prefix': 'cos'
		'body': "(cos)"
	'current-seconds function':
		'prefix': 'current-seconds'
		'body': "(current-seconds)"
	'denominator function':
		'prefix': 'denominator'
		'body': "(denominator)"
	'even? function':
		'prefix': 'even?'
		'body': "(even?)"
	'exact->inexact function':
		'prefix': 'exact->inexact'
		'body': "(exact->inexact)"
	'exact? function':
		'prefix': 'exact?'
		'body': "(exact?)"
	'exp function':
		'prefix': 'exp'
		'body': "(exp)"
	'expt function':
		'prefix': 'expt'
		'body': "(expt)"
	'floor function':
		'prefix': 'floor'
		'body': "(floor)"
	'gcd function':
		'prefix': 'gcd'
		'body': "(gcd)"
	'imag-part function':
		'prefix': 'imag-part'
		'body': "(imag-part)"
	'inexact->exact function':
		'prefix': 'inexact->exact'
		'body': "(inexact->exact)"
	'inexact? function':
		'prefix': 'inexact?'
		'body': "(inexact?)"
	'integer? function':
		'prefix': 'integer?'
		'body': "(integer?)"
	'lcm function':
		'prefix': 'lcm'
		'body': "(lcm)"
	'log function':
		'prefix': 'log'
		'body': "(log)"
	'magnitude function':
		'prefix': 'magnitude'
		'body': "(magnitude)"
	'make-polar function':
		'prefix': 'make-polar'
		'body': "(make-polar)"
	'max function':
		'prefix': 'max'
		'body': "(max)"
	'min function':
		'prefix': 'min'
		'body': "(min)"
	'modulo function':
		'prefix': 'modulo'
		'body': "(modulo)"
	'natural? function':
		'prefix': 'natural?'
		'body': "(natural?)"
	'negative? function':
		'prefix': 'negative?'
		'body': "(negative?)"
	'number->string function':
		'prefix': 'number->string'
		'body': "(number->string)"
	'number? function':
		'prefix': 'number?'
		'body': "(number?)"
	'numerator function':
		'prefix': 'numerator'
		'body': "(numerator)"
	'odd? function':
		'prefix': 'odd?'
		'body': "(odd?)"
	'positive? function':
		'prefix': 'positive?'
		'body': "(positive?)"
	'quotient function':
		'prefix': 'quotient'
		'body': "(quotient)"
	'random function':
		'prefix': 'random'
		'body': "(random)"
	'rational? function':
		'prefix': 'rational?'
		'body': "(rational?)"
	'real-part function':
		'prefix': 'real-part'
		'body': "(real-part)"
	'real? function':
		'prefix': 'real?'
		'body': "(real?)"
	'remainder function':
		'prefix': 'remainder'
		'body': "(remainder)"
	'round function':
		'prefix': 'round'
		'body': "(round)"
	'sin function':
		'prefix': 'sin'
		'body': "(sin)"
	'sqrt function':
		'prefix': 'sqrt'
		'body': "(sqrt)"
	'string->number function':
		'prefix': 'string->number'
		'body': "(string->number)"
	'tan function':
		'prefix': 'tan'
		'body': "(tan)"
	'zero? function':
		'prefix': 'zero?'
		'body': "(zero?)"
	'boolean=? function':
		'prefix': 'boolean=?'
		'body': "(boolean=?)"
	'boolean? function':
		'prefix': 'boolean?'
		'body': "(boolean?)"
	'false? function':
		'prefix': 'false?'
		'body': "(false?)"
	'not function':
		'prefix': 'not'
		'body': "(not)"
	'true? function':
		'prefix': 'true?'
		'body': "(true?)"
	'append function':
		'prefix': 'append'
		'body': "(append)"
	'cons function':
		'prefix': 'cons'
		'body': "(cons)"
	'cons? function':
		'prefix': 'cons?'
		'body': "(cons?)"
	'empty? function':
		'prefix': 'empty?'
		'body': "(empty?)"
	'first function':
		'prefix': 'first'
		'body': "(first)"
	'fold function':
		'prefix': 'fold'
		'body': "(fold)"
	'length function':
		'prefix': 'length'
		'body': "(length)"
	'list function':
		'prefix': 'list'
		'body': "(list)"
	'list-ref function':
		'prefix': 'list-ref'
		'body': "(list-ref)"
	'make-pair function':
		'prefix': 'make-pair'
		'body': "(make-pair)"
	'pair? function':
		'prefix': 'pair?'
		'body': "(pair?)"
	'rest function':
		'prefix': 'rest'
		'body': "(rest)"
	'reverse function':
		'prefix': 'reverse'
		'body': "(reverse)"
	'computer-hard-drive function':
		'prefix': 'computer-hard-drive'
		'body': "(computer-hard-drive)"
	'computer-processor function':
		'prefix': 'computer-processor'
		'body': "(computer-processor)"
	'computer-ram function':
		'prefix': 'computer-ram'
		'body': "(computer-ram)"
	'computer? function':
		'prefix': 'computer?'
		'body': "(computer?)"
	'make-computer function':
		'prefix': 'make-computer'
		'body': "(make-computer)"
	'chocolate-cookie-chocolate function':
		'prefix': 'chocolate-cookie-chocolate'
		'body': "(chocolate-cookie-chocolate)"
	'chocolate-cookie-cookie function':
		'prefix': 'chocolate-cookie-cookie'
		'body': "(chocolate-cookie-cookie)"
	'chocolate-cookie? function':
		'prefix': 'chocolate-cookie?'
		'body': "(chocolate-cookie?)"
	'make-chocolate-cookie function':
		'prefix': 'make-chocolate-cookie'
		'body': "(make-chocolate-cookie)"
	'string->strings-list function':
		'prefix': 'string->strings-list'
		'body': "(string->strings-list)"
	'string-append function':
		'prefix': 'string-append'
		'body': "(string-append)"
	'string-length function':
		'prefix': 'string-length'
		'body': "(string-length)"
	'string<=? function':
		'prefix': 'string<=?'
		'body': "(string<=?)"
	'string<? function':
		'prefix': 'string<?'
		'body': "(string<?)"
	'string=? function':
		'prefix': 'string=?'
		'body': "(string=?)"
	'string>=? function':
		'prefix': 'string>=?'
		'body': "(string>=?)"
	'string>? function':
		'prefix': 'string>?'
		'body': "(string>?)"
	'string? function':
		'prefix': 'string?'
		'body': "(string?)"
	'strings-list->string function':
		'prefix': 'strings-list->string'
		'body': "(strings-list->string)"
	'apply function':
		'prefix': 'apply'
		'body': "(apply)"
	'eq? function':
		'prefix': 'eq?'
		'body': "(eq?)"
	'equal? function':
		'prefix': 'equal?'
		'body': "(equal?)"
	'for-each function':
		'prefix': 'for-each'
		'body': "(for-each)"
	'map function':
		'prefix': 'map'
		'body': "(map)"
	'read function':
		'prefix': 'read'
		'body': "(read)"
	'violation function':
		'prefix': 'violation'
		'body': "(violation)"
	'write-newline function':
		'prefix': 'write-newline'
		'body': "(write-newline)"
	'write-string function':
		'prefix': 'write-string'
		'body': "(write-string)"
	'* function':
		'prefix': '*'
		'body': "(*)"
	'+ function':
		'prefix': '+'
		'body': "(+)"
	'- function':
		'prefix': '-'
		'body': "(-)"
	'/ function':
		'prefix': '/'
		'body': "(/)"
	'< function':
		'prefix': '<'
		'body': "(<)"
	'<= function':
		'prefix': '<='
		'body': "(<=)"
	'= function':
		'prefix': '='
		'body': "(=)"
	'> function':
		'prefix': '>'
		'body': "(>)"
	'>= function':
		'prefix': '>='
		'body': "(>=)"
	'abs function':
		'prefix': 'abs'
		'body': "(abs)"
	'acos function':
		'prefix': 'acos'
		'body': "(acos)"
	'angle function':
		'prefix': 'angle'
		'body': "(angle)"
	'asin function':
		'prefix': 'asin'
		'body': "(asin)"
	'atan function':
		'prefix': 'atan'
		'body': "(atan)"
	'ceiling function':
		'prefix': 'ceiling'
		'body': "(ceiling)"
	'complex? function':
		'prefix': 'complex?'
		'body': "(complex?)"
	'cos function':
		'prefix': 'cos'
		'body': "(cos)"
	'current-seconds function':
		'prefix': 'current-seconds'
		'body': "(current-seconds)"
	'denominator function':
		'prefix': 'denominator'
		'body': "(denominator)"
	'even? function':
		'prefix': 'even?'
		'body': "(even?)"
	'exact->inexact function':
		'prefix': 'exact->inexact'
		'body': "(exact->inexact)"
	'exact? function':
		'prefix': 'exact?'
		'body': "(exact?)"
	'exp function':
		'prefix': 'exp'
		'body': "(exp)"
	'expt function':
		'prefix': 'expt'
		'body': "(expt)"
	'floor function':
		'prefix': 'floor'
		'body': "(floor)"
	'gcd function':
		'prefix': 'gcd'
		'body': "(gcd)"
	'imag-part function':
		'prefix': 'imag-part'
		'body': "(imag-part)"
	'inexact->exact function':
		'prefix': 'inexact->exact'
		'body': "(inexact->exact)"
	'inexact? function':
		'prefix': 'inexact?'
		'body': "(inexact?)"
	'integer? function':
		'prefix': 'integer?'
		'body': "(integer?)"
	'lcm function':
		'prefix': 'lcm'
		'body': "(lcm)"
	'log function':
		'prefix': 'log'
		'body': "(log)"
	'magnitude function':
		'prefix': 'magnitude'
		'body': "(magnitude)"
	'make-polar function':
		'prefix': 'make-polar'
		'body': "(make-polar)"
	'max function':
		'prefix': 'max'
		'body': "(max)"
	'min function':
		'prefix': 'min'
		'body': "(min)"
	'modulo function':
		'prefix': 'modulo'
		'body': "(modulo)"
	'natural? function':
		'prefix': 'natural?'
		'body': "(natural?)"
	'negative? function':
		'prefix': 'negative?'
		'body': "(negative?)"
	'number->string function':
		'prefix': 'number->string'
		'body': "(number->string)"
	'number? function':
		'prefix': 'number?'
		'body': "(number?)"
	'numerator function':
		'prefix': 'numerator'
		'body': "(numerator)"
	'odd? function':
		'prefix': 'odd?'
		'body': "(odd?)"
	'positive? function':
		'prefix': 'positive?'
		'body': "(positive?)"
	'quotient function':
		'prefix': 'quotient'
		'body': "(quotient)"
	'random function':
		'prefix': 'random'
		'body': "(random)"
	'rational? function':
		'prefix': 'rational?'
		'body': "(rational?)"
	'real-part function':
		'prefix': 'real-part'
		'body': "(real-part)"
	'real? function':
		'prefix': 'real?'
		'body': "(real?)"
	'remainder function':
		'prefix': 'remainder'
		'body': "(remainder)"
	'round function':
		'prefix': 'round'
		'body': "(round)"
	'sin function':
		'prefix': 'sin'
		'body': "(sin)"
	'sqrt function':
		'prefix': 'sqrt'
		'body': "(sqrt)"
	'string->number function':
		'prefix': 'string->number'
		'body': "(string->number)"
	'tan function':
		'prefix': 'tan'
		'body': "(tan)"
	'zero? function':
		'prefix': 'zero?'
		'body': "(zero?)"
	'boolean=? function':
		'prefix': 'boolean=?'
		'body': "(boolean=?)"
	'boolean? function':
		'prefix': 'boolean?'
		'body': "(boolean?)"
	'false? function':
		'prefix': 'false?'
		'body': "(false?)"
	'not function':
		'prefix': 'not'
		'body': "(not)"
	'true? function':
		'prefix': 'true?'
		'body': "(true?)"
	'append function':
		'prefix': 'append'
		'body': "(append)"
	'cons function':
		'prefix': 'cons'
		'body': "(cons)"
	'cons? function':
		'prefix': 'cons?'
		'body': "(cons?)"
	'empty? function':
		'prefix': 'empty?'
		'body': "(empty?)"
	'first function':
		'prefix': 'first'
		'body': "(first)"
	'fold function':
		'prefix': 'fold'
		'body': "(fold)"
	'length function':
		'prefix': 'length'
		'body': "(length)"
	'list function':
		'prefix': 'list'
		'body': "(list)"
	'list-ref function':
		'prefix': 'list-ref'
		'body': "(list-ref)"
	'make-pair function':
		'prefix': 'make-pair'
		'body': "(make-pair)"
	'pair? function':
		'prefix': 'pair?'
		'body': "(pair?)"
	'rest function':
		'prefix': 'rest'
		'body': "(rest)"
	'reverse function':
		'prefix': 'reverse'
		'body': "(reverse)"
	'computer-hard-drive function':
		'prefix': 'computer-hard-drive'
		'body': "(computer-hard-drive)"
	'computer-processor function':
		'prefix': 'computer-processor'
		'body': "(computer-processor)"
	'computer-ram function':
		'prefix': 'computer-ram'
		'body': "(computer-ram)"
	'computer? function':
		'prefix': 'computer?'
		'body': "(computer?)"
	'make-computer function':
		'prefix': 'make-computer'
		'body': "(make-computer)"
	'chocolate-cookie-chocolate function':
		'prefix': 'chocolate-cookie-chocolate'
		'body': "(chocolate-cookie-chocolate)"
	'chocolate-cookie-cookie function':
		'prefix': 'chocolate-cookie-cookie'
		'body': "(chocolate-cookie-cookie)"
	'chocolate-cookie? function':
		'prefix': 'chocolate-cookie?'
		'body': "(chocolate-cookie?)"
	'make-chocolate-cookie function':
		'prefix': 'make-chocolate-cookie'
		'body': "(make-chocolate-cookie)"
	'string->strings-list function':
		'prefix': 'string->strings-list'
		'body': "(string->strings-list)"
	'string-append function':
		'prefix': 'string-append'
		'body': "(string-append)"
	'string-length function':
		'prefix': 'string-length'
		'body': "(string-length)"
	'string<=? function':
		'prefix': 'string<=?'
		'body': "(string<=?)"
	'string<? function':
		'prefix': 'string<?'
		'body': "(string<?)"
	'string=? function':
		'prefix': 'string=?'
		'body': "(string=?)"
	'string>=? function':
		'prefix': 'string>=?'
		'body': "(string>=?)"
	'string>? function':
		'prefix': 'string>?'
		'body': "(string>?)"
	'string? function':
		'prefix': 'string?'
		'body': "(string?)"
	'strings-list->string function':
		'prefix': 'strings-list->string'
		'body': "(strings-list->string)"
	'string->symbol function':
		'prefix': 'string->symbol'
		'body': "(string->symbol)"
	'symbol->string function':
		'prefix': 'symbol->string'
		'body': "(symbol->string)"
	'symbol? function':
		'prefix': 'symbol?'
		'body': "(symbol?)"
	'apply function':
		'prefix': 'apply'
		'body': "(apply)"
	'eq? function':
		'prefix': 'eq?'
		'body': "(eq?)"
	'equal? function':
		'prefix': 'equal?'
		'body': "(equal?)"
	'for-each function':
		'prefix': 'for-each'
		'body': "(for-each)"
	'map function':
		'prefix': 'map'
		'body': "(map)"
	'read function':
		'prefix': 'read'
		'body': "(read)"
	'violation function':
		'prefix': 'violation'
		'body': "(violation)"
	'write-newline function':
		'prefix': 'write-newline'
		'body': "(write-newline)"
	'write-string function':
		'prefix': 'write-string'
		'body': "(write-string)"
